.navbar{
    display: flex;
    background-color: orange;
    font-style: italic;
    position: sticky;
    width: 100%;
    top: 0px;
    height: 50px;
}
.navbarcomp{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.home{
    text-align: center;
    width: 30%;
}
a{
    color: whitesmoke;
}
a:hover{
    font-size: 110%;
}